<div class="center hero-unit">
  <h1>Weather Forecaster Project</h1>

  <h2 class="lead">
    Gather ground surface weather data, send local heavy rain warning.
  </h2>


<table align="center">
	 <tbody>
    <tr>
      <td><%= image_tag("wfp-expt.png", class:"img-responsive", size:"300", alt:"wfp-expt") %></td>
      <td class="text-left">
      	<h2 class="text-left">Weather Forecaster for Experimentation</h2>
     	<p> This application was designed to detect the smartphone sensors in your device and log the sensor data. Position, motion, and environmental sensors are significant to design a smartphone-based application that could detect localized heavy rain in this research. Examples of the said sensors are GPS, gyroscope, magnetometer, barometric pressure, ambient humidity, and ambient temperature. This version was mainly developed for gathering data with customized temporal resolution and continuous data logging in the internal storage or via WiFi to the database. </p>
      </td>
    </tr>
     <tr>
     <td class="text-right">
     	<h2 class="text-right">ReignCloud</h2>
     	<p> Earn cloud points and grow seasonal crops! Compete with your friends on seed money and become the rain god. The more cloud points you earn, the more rain clouds you can trade, the more crops you can harvest! Receive real <a href="http://www.leafcutterdesigns.com/shop/seed-money.html">seed money</a> if you top the monthly global ranks :)</p>

     	<h2 class="text-right">Mission</h2>
     	<p> With this application, we'd like to encourage volunteers to volunteer data gathering time and effort so we could have more data we can analyze to detect localized heavy rain. With more data, we can improve our rain detection app and provide people with a better warning service. It is basically similar to the experimentation version but with a twist of social networking and a healthy virtual competition :)</p>


     </td>
     <td><%= image_tag("wfp-expt.png", class:"img-responsive", size:"300", alt:"wfp-expt") %></td>     
    </tr>
</tbody>
</table>
</div>