<div class="center hero-unit">
  <h1>Hello, ULAP</h1>

  <h2>
    Ubiquitous Local ground surface weather data Aggregation and Processing
  </h2>
</div>

<%= image_tag("homeCloud.png", class: "img-responsive", alt:"homeCloud") %>   
